.home {
    background-color: #371b58;
}

#home h1 {
    margin: 20px 0 20px;
    font-size: 60px;
}

#home h3 {
    font-size: 20px;
    margin-bottom: 40px;
}

#home h5 {
    letter-spacing: 1.2px;
    font-size: 20px;
}

#home .title-btn {
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid #371b58;
    outline: none;
    border-radius: 30px;
    background-color: #7858a6;
    color: #fff;
    font-size: 16px;
}
