nav {
    position: fixed;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav .nav-logo {
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

nav .logo-link {
    text-decoration: none;
    color: #fff;
}

nav .nav-link {
    color: inherit;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
}

nav .nav-link:hover {
    color: #827397;
    transition: 0.2s;
}
